---
---
@charset "UTF-8";
@import "main";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

h1 {
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 30px;
    color: darkred;
}

h2 {
    font-size: 8pt;
    color: grey;
    text-align: left;
}

.nav {
    background-color: rgb(138, 19, 19);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-align: center;
}

.footer {
    position: absolute;
}


/*--conceptpagina--*/

.staff {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-left: 90px;
    margin-bottom: 30px;
    width: 180px;
    height: 213px;
    position: relative;
}

.staf-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 180px;
    height: 213px;
    display: block;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    margin-bottom: 40px;
}

.staf-hover:hover {
    display: block;
    opacity: 1;
}

.uitlijninglinks {
    text-align: left;
    margin: 70px;
    margin-left: 40px;
    line-height: 25px;
}

.uitlijningrechts {
    text-align: right;
    margin: 20px;
    margin-top: 75px;
    margin-right: 40px;
    line-height: 25px;
}

.uitlijninglinks2 {
    text-align: left;
    margin: 20px;
    margin-top: 70px;
    margin-left: 40px;
    line-height: 25px;
}

.titleconcept {
    color: darkred;
}

.kerstbal {
    margin-left: 130px;
    margin-bottom: 170px;
}

.kerstbal-1 {
    top: -32px;
    position: relative;
}

.kerstbal-2 {
    top: -56px;
    position: relative;
}

.kerstbal-3 {
    top: -1px;
    position: relative;
}

.kerstbal-4 {
    top: -40px;
    position: relative;
}

.lijntje {
    border-bottom: 1px solid darkgreen;
    height: 1px;
    width: 75%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.lijntje-rechts {
    float: right;
}

.lijntje-links {
    float: left;
}

.tekstlinks {
    margin-left: 45px;
    line-height: 25px;
}


/*--contactpagina--*/


/* START FORM */

*::-webkit-input-placeholder {
    color: black;
}

#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
    height: 550px;
    margin-bottom: 100px;
    margin-left: 20px;
}

#form-div {
    background: #fff;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: -260px;
}

.feedback-input {
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: white;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom: 1px solid rgb(212, 211, 211);
}

.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    color: #000;
    outline: none;
    padding: 13px 13px 13px 13px;
}

.focused {
    color: #000;
    border: darkred solid 2px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}


/*--bestel1--*/

.totaal {
    text-align: right;
}

.progress {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 5px;
}

.bg-success {
    background-color: darkgreen !important;
}

.steps {
    text-align: center;
    margin-top: 60px;
}

.progress {
    align-content: center;
}

.form-check {
    text-align: center;
    margin-top: 40px;
    margin-left: -10px;
}

.form-check1 {
    text-align: center;
    margin-top: 20px;
    margin-left: -58px;
}

.form-check2 {
    text-align: center;
    margin-top: 20px;
    margin-left: -37px;
    margin-bottom: 120px
}

.form-check3 {
    text-align: center;
    margin-top: 20px;
    margin-left: -7px;
}


/*--aanbod--*/

.menubutton {
    color: white;
    background-color: darkred;
    margin-top: 20px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.menubutton:hover {
    color: darkred;
    background-color: white;
    margin-top: 20px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.menubutton2 {
    color: white;
    background-color: darkred;
    margin-top: 20px;
    margin-left: 140px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.menubutton2:hover {
    color: darkred;
    background-color: white;
    margin-top: 20px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.menubutton3 {
    color: white;
    background-color: darkred;
    margin-top: 20px;
    margin-left: 75px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.menubutton3:hover {
    color: darkred;
    background-color: white;
    margin-top: 20px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.menubutton4 {
    color: white;
    background-color: darkred;
    margin-top: 20px;
    margin-left: 40px;
    border-bottom: 12px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.menubutton4:hover {
    color: darkred;
    background-color: white;
    margin-top: 20px;
    border: 30px;
    border-radius: 70px;
    padding: 14px 40px;
}

.nav-link.disabled {
    color: white;
}